
* {
    font-family: 'Courier New', monospace;
}

html, body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(139, 137, 137));
  }

.main-div {
    margin: 20px;
}

h1 {
    display: flex;
    font-size: xx-large;
    justify-content: center;
}

h2 {
    display: flex;
    font-size: x-large;
}

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

